<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery-ui-accordion.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#accordion').accordion();
  });
</script>


</head>

<body>

<a href="/" style="text-decoration:none;">
  <h1 class="header" style="text-align:left;">
    <img src="/images/launch-academy-logo.png">&nbsp;The (En)Lightning Talks
  </h1>
</a>

<div id="inner-div">

<div id="accordion">
  <div>
    <a href="#recent" class="heading">
      <h4><%= @all_talks[0]["first_name"] %> <%= @all_talks[0]["last_name"] %>: <%= @all_talks[0]["talk_title"] %>
      </h4>
    </a>
      <p id="recent"><%= @all_talks[0]["description"] %></p>
      <hr>
  </div>
  <div>
    <a href="#second" class="heading">
      <h4><%= @all_talks[0]["first_name"] %> <%= @all_talks[0]["last_name"] %>: <%= @all_talks[0]["talk_title"] %>
      </h4>
    </a>
      <p id="second"><%= @all_talks[0]["description"] %></p>
      <hr>
  </div>
</div>



<h3>Please enlighten us about All The Things</h3>

<div name="sign-up">
  <form name="sign_up" id="sign-up" action="/add_talk" method="post">

    <div class="form-group">
      <label for="input-name">First name</label>
      <input type="text" class="form-control" id="input_first_name" placeholder="First name" name="firstname" required>
    </div>

    <div class="form-group">
      <label for="input-name">Last name</label>
      <input type="text" class="form-control" id="input_last_name" placeholder="Last name" name="lastname" required>
    </div>

    <div class="form-group">
      <label for="talk-topic">Lightning Talk Topic</label>
      <input class="form-control" id="talk_topic" placeholder="Enter topic" name="usertalktopic" required>
    </div>

    <div class="form-group">
      <label for="talk-description">Description</label>
      <textarea class="form-control" id="talk_description" name="talk_description" placeholder="Give us the deets" required></textarea>
    </div>

    <input type="submit" name="button" value="Get excited!" onClick="alertSubmitTalk()">

  </form>

</div>

</div>



<script type="text/javascript" src="js/jquery.mobile-1.4.2.js"></script>

</body>
</html>
