<% if !flash.empty? %>
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="<%= key %>">
        <center><h4><%= value %></h4></center>
      </div>
    <% end %>
  </div>
<% end %>

<h3>Want to give a Lightning Talk?</h3>
<p>This is the if signed in block of code</p>
<% if signed_in? %>
  <p>
    <img src="<%= @current_user.avatar_url %>">
    Signed in with <%= @current_user.provider.capitalize %> as <%= @current_user.email %>.
    <a href="/sign_out">Sign out</a>
  </p>
<% else %>
  <button onclick="/auth/github"><a href="/auth/github">Login with Github</a></button>
  <button onclick="/auth/facebook"><a href="/auth/facebook">Login with Facebook</a></button>
<% end %>

<p>This is the end</p>

<%= styled_flash %>
<p>end of styled flash</p>


<br><br><br>

<h3>Upcoming Lightning Talks (Tuesday, July 8, 2014)</h3>

<ul id="accordion">
<% increment = 1 %>
  <% @all_talks.each do |talk| %>
    <li class="one-talk" id="one-talk">
        <a href="#anchor-link<%= increment %>" class="talk-header">
        <h4 class="ui-accordion-header-icon"><%= h talk["first_name"] %> <%= h talk["last_name"] %>: <%= h talk["talk_title"] %>
        </h4>
      </a>
      <p class="talk-body" id="anchor-link<%= increment %>"><%= h talk["description"] %></p>
      <% increment += 1 %>
    </li>
  <% end %>
</ul>
attributes
