<ul id="accordion">
<% increment = 1 %>
  <% @all_talks.each do |talk| %>
    <li class="one-talk" id="one-talk">
        <a href="#anchor-link<%= increment %>" class="talk-header">
        <h4 class="ui-accordion-header-icon"><%= talk["first_name"] %> <%= talk["last_name"] %>: <%= talk["talk_title"] %>
        </h4>
      </a>
      <p class="talk-body" id="anchor-link<%= increment %>"><%= talk["description"] %></p>
      <% increment += 1 %>
    </li>
  <% end %>
</ul>

<br>

<h3>Please enlighten us about All The Things</h3>

<div id="sign-up">
  <form name="sign_up" id="sign-up" action="/add_talk" method="post" autocomplete="off" class="form-horizontal">

    <div class="form-group form-div">
      <input type="text" class="form-control" id="input_first_name" name="firstname" placeholder="First name" autofocus required><br>
      <input type="text" class="form-control" id="input_last_name" name="lastname" placeholder="Last name" autofocus required>
    </div>

    <div class="form-group form-div">
      <input type="text" class="form-control" id="talk_topic" name="usertalktopic" placeholder="Lightning Talk topic" autofocus required>
    </div>

    <br>

    <div class="form-group form-div">
      <label for="talk-description">Description</label>
      <textarea class="form-control" id="talk_description" name="talk_description" placeholder="Deets please (up to 500 characters)." maxlength="500" width="500px" rows="5" autofocus required></textarea>
    </div>

    <input type="submit" name="button" value="Get excited!" onClick="thanksAlert()">

  </form>
</div>

</div>

</body>
</html>
