<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>

  <script>
    $(function() {
      $( "#accordion" ).accordion();
    });
  </script>

</head>

<body>

  <a href="/" style="text-decoration:none;">
  <h2 class="header" style="text-align:left;">
    <img src="/images/launch-academy-logo.png">&nbsp;The (En)Lightning Talks
  </h2>
</a>


<div id="inner-div">

<ul class="talk-info" id="accordion">
<% increment = 1 %>
  <% @all_talks.each do |talk| %>
    <li class="one-talk" id="one-talk">
        <a href="#anchor-link<%= increment %>" class="talk-header">
        <h4>
          <span class="glyphicon glyphicon-chevron-down" id="icon-id">  </span>
          <%= talk["first_name"] %> <%= talk["last_name"] %>: <%= talk["talk_title"] %>
        </h4>
      </a>
      <p class="talk-body" id="anchor-link<%= increment %>"><%= talk["description"] %></p>
      <% increment += 1 %>
    </li>
  <% end %>
</ul>

<br>

<h3>Please enlighten us about All The Things</h3>

<div name="sign-up">
  <form name="sign_up" id="sign-up" action="/add_talk" method="post">

    <div class="form-group">
      <label for="input-name">First name</label>
      <input type="text" class="form-control" id="input_first_name" placeholder="First name" name="firstname" required>
    </div>

    <div class="form-group">
      <label for="input-name">Last name</label>
      <input type="text" class="form-control" id="input_last_name" placeholder="Last name" name="lastname" required>
    </div>

    <div class="form-group">
      <label for="talk-topic">Lightning Talk Topic</label>
      <input class="form-control" id="talk_topic" placeholder="Enter topic" name="usertalktopic" required>
    </div>

    <div class="form-group">
      <label for="talk-description">Description</label>
      <textarea class="form-control" id="talk_description" name="talk_description" placeholder="Give us the deets" required></textarea>
    </div>

    <input type="submit" name="button" value="Get excited!" onClick="thanksAlert()">

  </form>
</div>

</div>

</body>
</html>
