<% if !flash.empty? %>
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="<%= key %>">
        <center><h4><%= value %></h4></center>
      </div>
    <% end %>
  </div>
<% end %>

<% if signed_in? %>
  <h3 name="give-talk">Give a Lightning Talk!</h3>
    <div id="sign-up">
      <form name="sign_up" id="sign-up" action="/add_talk" method="post" autocomplete="off" class="form-horizontal">
        <div class="form-group form-div">
          <input type="text" class="form-control" id="talk_topic" name="usertalktopic" placeholder="Lightning Talk topic" autofocus><br>
          <label for="talk-description">Description</label>
          <textarea class="form-control" id="talk_description" name="talk_description" placeholder="Deets please (up to 255 characters)." maxlength="255" width="500px" rows="5" autofocus></textarea>
        </div>
        <input type="submit" name="button" value="Get excited!">
      </form>
    </div>
<% else %>
  <center>
    <h2>Sign in to give a Lightning Talk</h2><br>
    <button onclick="/auth/github" class="btn btn-default btn-lg">
      <img src="/images/github.png" width="75px">
      <a href="/auth/github">Login with Github</a>
    </button>
  </center>
<% end %>

<br><br><br>

<h3><img src="/images/bolt.jpg" width="75px">Upcoming Lightning Talks (Tuesday, July 8, 2014)</h3>
<ul id="accordion">
<% increment = 1 %>
  <% @all_talks.each do |talk| %>
    <li class="one-talk" id="one-talk">
        <a href="#anchor-link<%= increment %>" class="talk-header">
        <h4 class="ui-accordion-header-icon"><%= h talk["first_name"] %> <%= h talk["last_name"] %>: <%= h talk["talk_title"] %>
        </h4>
      </a>
      <p class="talk-body" id="anchor-link<%= increment %>"><%= h talk["description"] %></p>
      <% increment += 1 %>
    </li>
  <% end %>
</ul>
