<!DOCTYPE html>
<html>
<head>
  <title>Lightning Talk Signups</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>

  <script>
     $(function() {
        var icons = {
          header: "arrow-right",
          activeHeader: "arrow-down"
        };
        $( "#accordion" ).accordion({
          icons: icons
        });
      });
  </script>

</head>

<body>

<div class="row">
  <div class="col-md-9">
    <a href="/" style="text-decoration:none;">
      <h2 class="header" style="text-align:left;">
        <img src="/images/launch-academy-logo.png" id="launch-logo">&nbsp;The (En)Lightning Talks
      </h2>
    </a>
  </div>
  <div class="col-md-3 hidden-xs">
    <h4 style="text-align:right;">
      <ul style="list-style: none;">
        <li class="header-list-item"><a href="/">Give a Talk!</a></li>
        <li class="header-list-item"><a href="/about">About this Site</a></li>
        <li class="header-list-item"><a href="/what">What's a Lightning Talk?</a></li>
        <li class="header-list-item"><a href="/past_talks">Past Talks</a></li>
      </ul>
    </h4>
  </div>
</div>


<div id="inner-div">

<% if signed_in? %>
  <p>
    <img src="<%= current_user.avatar_url %>">
    Signed in with <%= current_user.provider.capitalize %> as <%= current_user.email %>.
    <a href="/sign_out">Sign out</a>
  </p>
<% end %>


<%= styled_flash %>


<section>
  <%= yield %>
</section>

</div>

<div class="footer" style="padding-top:20px;">
  <center>
    <a href="/past_talks">Past Lightning Talks</a> | Created by Jacinda Zhong | Launch Academy June 2014 | <a href="/#">Give a Talk</a> | <a href="/#next-talk">Upcoming Talks</a>
  </center>
</div>

</body>
</html>
