<h2>Past Lightning Talks</h2>

<h3>Talks on Tuesday, June 24, 2014</h3>
<ul id="accordion">
<% increment = 1 %>
  <% @past_talks.each do |talk| %>
    <li class="one-talk" id="one-talk">
        <a href="#anchor-link<%= increment %>" class="talk-header">
        <h4 class="ui-accordion-header-icon"><%= h talk["username"] %>: <%= h talk["talk_title"] %>
        </h4>
      </a>
      <p class="talk-body" id="anchor-link<%= increment %>"><%= h talk["description"] %></p>
      <% increment += 1 %>
    </li>
  <% end %>
</ul>
